@page "/concerts"
@inject SpotifyService _spotifyService
@using SpotifyApp.Services
@using blazorappca.Models

<h1>Concert Information</h1>

@if (ConcertData != null)
{
    <div>
        <h2>Concert</h2>
        <p>Artists: @ConcertData.Artists</p>
        <p>Upcoming Concerts: @ConcertData.UpcomingConcerts</p>
        <p>Color: @ConcertData.Color</p>
        <p>Header Image Uri: @ConcertData.HeaderImageUri</p>
        <p>Upcoming Concerts Source: @ConcertData.UpcomingConcertsSource</p>
        <p>User Location: @ConcertData.UserLocation</p>
        <p>Ticket Availability: @ConcertData.TicketAvailability</p>
        <p>Ticket Availability Translated: @ConcertData.TicketAvailabilityTranslated</p>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    private ConcertData ConcertData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Fetch concert data from ConcertService
        ConcertData = await _spotifyService.ExploreConcerts();
    }
}